<div class="dadshboard-container">
  <div class="chart-container">
    <h1>{{ title }}</h1>
  
    <div>
      <h3 >Electric Vehicle Types</h3>
      <p>The distribution of different EV types (e.g., Battery Electric Vehicle (BEV), Plug-in Hybrid Electric Vehicle (PHEV)).
        <span *ngIf="!showPieV"  class="linkColor" (click)="clickEvType()">Click Here to see pie chart.</span>
        <span *ngIf="showPieV"  class="linkColor" (click)="clickEvType()">Click Here to close pie chart.</span>
      </p>
      <div *ngIf="showPieV"  class="chart-section">
        <ngx-charts-pie-chart 
        [results]="vehicleTypes" 
        [legend]="true" 
        [explodeSlices]="false" 
        [labels]="true" 
        [doughnut]="false" 
        [arcWidth]="0.15" 
        [gradient]="false"
        [legendTitle]="'Vehicle Types'">
      </ngx-charts-pie-chart>
      </div>
    </div>
  
  
  
    <div >
      <h3>County Data</h3>
      <p>That shows the distribution of EVs across different counties. This will help you analyze where EV adoption is higher.
        <span *ngIf="!showCountry" class="linkColor" (click)="clickCountry()">Click here to see bar graph.</span>
        <span *ngIf="showCountry"  class="linkColor" (click)="clickCountry()">Click Here to close pie chart.</span>
      </p>
      <div *ngIf="showCountry" class="chart-section">
        <ngx-charts-bar-vertical
        [results]="countyData"
        [legend]="true"
        [view]="[650, 400]"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Model Year'"
        [yAxisLabel]="'Number of Vehicles'"
        [legendTitle]="'Country'">
      </ngx-charts-bar-vertical>
      </div>
    </div>
  
    <div>
      <h3>Top 5 EV Makes by Count</h3>
      <p>The top five EV manufacturers based on the number of vehicles, useful for spotting dominant players in the market.
        <span *ngIf="!showTop"  class="linkColor" (click)="clickTop()">Click here to see pie chart</span>
        <span *ngIf="showTop"  class="linkColor" (click)="clickTop()">Click Here to close pie chart.</span>
      </p>
      <div *ngIf="showTop"  class="chart-section">
        <ngx-charts-pie-chart 
        [results]="topMakesData" 
        [legend]="true" 
        [explodeSlices]="false" 
        [labels]="true" 
        [doughnut]="false" 
        [arcWidth]="0.15" 
        [gradient]="false"
        [legendTitle]="'EV Manufacturers'">
      </ngx-charts-pie-chart>
      </div>
    </div>
    <div>
      <h3>Vehicles by Model Year</h3>
      <p> The number of vehicles by their model year, highlighting EV adoption over time.
        <span *ngIf="!showModelNum"  class="linkColor" (click)="clickModelNum()">Click here to see bar graph.</span>
        <span *ngIf="showModelNum"  class="linkColor" (click)="clickModelNum()">Click Here to close pie chart.</span>
      </p>
      <div *ngIf="showModelNum" class="chart-section">
        <ngx-charts-bar-vertical
        [results]="modelYears"
        [legend]="true"
        [view]="[650,400]"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Model Year'"
        [yAxisLabel]="'Number of Vehicles'"
        [legendTitle]="'Year'">
      </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
